*{
  padding: 0;
  margin: 0;
}

body {
  background-color: #313e51;
  color: #fff;
  font-family: sans-serif;
}

main{
  width: 90%;
  height: 400px;
  margin: 5% auto 5% auto;
  display: flex;

}

section {
  margin: 0 auto
}

#txt-principal{
  width: 70%;
  font-size: 3em;
  margin: 0 0 40px 0;
}


#section-2{
  width: 50%;
}

.buttom-selection {
  color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  cursor: pointer;
  justify-content: left;
  align-items: center; 
  font-weight: 700;
  font-size: 1.2em;
  text-align: center; 
  margin: 20px 0 0 0;
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(60, 77, 103, 255);
}
